<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Iraitech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="/accounts/logout" class="btn btn-outline-warning my-2 my-sm-0 ml-auto" role="button">Logout</a>
        </div>
    </nav>
    <form id="question-form" class="container mt-3">
        <div class="alert alert-success" id="answer" style="display: none;"></div>
        {% csrf_token %}
        <div class="form-group">
            <label for="x-value">Value of x</label>
            <input type="number" class="form-control" id="x-value" name="x" required>
        </div>
        <div class="form-group">
            <label for="n-value">Value of n</label>
            <input type="number" class="form-control" id="n-value" name="n" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        const answer = document.getElementById("answer");
        const form = document.getElementById("question-form");
        const x = document.getElementById("x-value");
        const n = document.getElementById("n-value");
        form.addEventListener('submit', e => {
            e.preventDefault();
            fetch('/api/v1/calculate', {
                method: "POST",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                body: JSON.stringify({ x: x.value, n: n.value })
            })
                .then(res => res.json())
                .then(data => {
                    answer.style.display = "block";
                    answer.innerHTML = `answer is ${data.answer}`;
                })

        })
    </script>
</body>

</html>